<main class="main-content">
  <section class="main-story">
    <section class="col-1-3">
    
      <header><a href="#">Launching the New React/Redux Curriculum</a></header>
        <span class="byline">
          By APP ACADEMY INSTRUCTIONAL TEAM
        </span>
        
        <ul>
          <li>
            It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
          </li>
          <li>
            The whole state of your app is stored in an object tree inside a single store.
            The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
          </li>
        </ul>

        <a href="#" class="comments">
          1738 Comments
        </a>

    </section>
    <section>
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      <br>
      <label>Warning: This video will make you want to change your career</label>
      
      <article>
        <hr>
          <header>
            <a href="#">Where Are They Now?</a>
          </header>
          <span class="byline">By APP ACADEMY ALUMNI</span>
          <p>
            First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.
          </p>
      </article>

      <article>
        <hr>
        <header>
          <a href="#">Cat Academy</a>
        </header>
        <span class="byline">By APP ACADEMY DIRECTOR OF PRODUCTS</span>
        <p>
          App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
        </p>
      </article>

    </section>

    <hr class="hr-top">
    <hr class="hr-bottom">
  </section>

  <section class="opinion">
    <a href="#">The Opinion Pages</a>

    <section class="col-1-2">
      <article>
        <span class="kicker">Op-Ed Contributor</span>
      
        <header><a href="#">Will Javascript ever be as easy as Ruby?</a></header>
        <p>
          Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
        </p>     
      </article>

      <ul class="opinions-list">
        <li>
          <a href="">
          Knuth: Art of Programming
          </a>
        </li>
        <li>
          <a href="">
          Torvalds: When I Was Almost Wrong
          </a>
        </li>
        <li>
          <a href="">
          Lovelace: The First Algorithm
          </a>
        </li>
        <li>
          <a href="">
          Hopper: The First Bug
          </a>
        </li>
        <li>
          <a href="">
          Thompson: Go C Unix
          </a>
        </li>
        <li>
          <a href="">
          Carmack: My Virtual Reality
          </a>
        </li>
        <li>
          <a href="">
          Stallman: Free Speech Not Free Coffee
          </a>
        </li>
      </ul>

    </section>

    <section class="col-2-2">
      <article>
        <span class="kicker">Operations</span>
        <header><a href="#">App Academy New York Has A Brand New Office</a></header>
        <span class="byline">By APP ACADEMY ALUMNI</span>
        <p>
          The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
        </p>
        <div class="thumbnail">
          <%= image_tag 'new_office.jpg', alt: "Thumbnail of new App Academy office"%>
        </div>
      </article>
    </section>

    <section class="opinion-sign-up">
      <header>Opinion Today, in your Inbox</header>
      <p>
        Each weekday, get though-provoking commentary from our columnists and contributors.
      </p>

      <form action="" class="input-wrapper">
        <input type="email" name="user[email]" id="email-newsletter" placeholder="Get the Opinion Newsletter by email">
        <button>Sign Up</button>
      </form>

      <center><p class="byline">
        We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
      </p></center>
      <hr class="hr-top">
      <hr class="hr-bottom">
    </section>

    
  </section>

  <section id="overlay" class="overlay hidden-overlay"></section>
  
</main>
