
<section id="search-modal" class="search-modal">
  <form action="" class="search-wrapper">
    <input type="search" name="search" id="search">
    <button type="submit">GO</button>
  </form>

  <i class="fas fa-times-circle close"></i>
</section>