.sections-sidebar {
  position: fixed;
  top: 0;
  left: -400px;
  bottom: 0;

  z-index: 1;
  width: 300px;
  background-color: #fff;
  box-shadow: 10px 4px 6px 1px rgba(0, 0, 0, 0.09);
  transition: left 0.5s;
  text-transform: none;

  .sections-links {

  > ul {
    display: block;
  }

  ul {
    li {
      margin: 0;
      margin-left: 20px;
    }

    a {
      display: block;
      padding: 10px;
    }

    a:hover {
      background-color: $lightest-blue;
      text-decoration: none;
    }
  }
}
}


.expand {
  left: 0;
}

.shrink {
  padding-left: 300px;
  overflow-x: hidden;
}

.dropdown {
    position: relative;

    p {
      text-transform: uppercase;
      font-weight: bolder;
      color: $dark-gray;
      font-size: 12px;
      padding: 10px;
    }
}
.dropdown > ul {
    display: none;
    position: absolute;
    top: -30px;
    left: 280px;
    width: 300px;
    z-index: 2;
    background-color: #fff;
    border: 1px solid $light-gray;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.09);
    /* use top, left, right, bottom to position */
}
.dropdown:hover > ul {
    /* applies the following style to uls inside .dropdown */
    /* but only when .dropdown is being hovered over */
    display: block;
}

.dropdown > li {
    position: relative;
}
.dropdown > li:after,
.dropdown > li:before {
    content: "";
    position: absolute;
    right: 5px;
    top: 25%;
    border-left: 10px solid $light-gray;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width: 0;
    height: 0;
}
.dropdown > li:after {
    right: 7px;
    border-left: 10px solid white;
    z-index: 1;
}

.dropdown > ul:before,
.dropdown > ul:after {
  content: "";
  position: absolute;
  top: 20px;
  left: -30px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent; 
  border-right: 30px solid $light-gray; 
}

.dropdown > ul:after {
  left: -29px;
  border-right: 30px solid #fff;
}